[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
flask-restx = "==0.1.1"
isort = "*"
psycopg2-binary = "==2.8.4"
Flask = "==1.1.1"
Flask-SQLAlchemy = "==2.4.1"
Werkzeug = "==0.16.1"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
